<main class="c-main" role="content">
  <article class="c-article" role="content__pitch">
    {{ content }}
  </article>
  {% if type == 'index' %}
  <section class="c-section c-section--cases" role="case-studies">
    {% for case in cases limit:2 %}
    <article class="c-article c-article--case" role="content__case--{{ case.label }}">
      <header class="c-article__header">
        <h1>{{ case.name }}</h1>
        <h2>{{ case.description }}</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, totam placeat facere esse ullam est corporis. Officia cum numquam ullam dignissimos maiores voluptas iusto quam quo nostrum laboriosam, laborum necessitatibus? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam dolorum ut pariatur sed quisquam cum nesciunt natus veritatis eius error. Cupiditate impedit vero numquam molestias saepe expedita ullam laborum et?</p>
      </header>
      <figure class="c-figure">
        <img src="{{ case.cover }}" alt="{{ case.name }} &mdash; {{ case.description }}">
      </figure>
    </article>
    {% endfor %}
  </section>
  {% endif %}
</main>