<main class="c-main">
   <article class="o-grid__element c-article">
      <header class="c-article__header">
         {{ content }}
      </header>
   </article>
   {% if type == 'homepage' %}
   <section class="o-grid--work c-section">
      {% for item in projects %}
      <div class="o-grid__element--{{ item.label }} c-item">
         <a href="#">
            <figure class="c-figure">
               <img src="{{ item.cover }}" alt="">
            </figure>
            <a class="c-item__meta" href="#"><b>{{ item.name }}</b><p> &mdash; {{ item.description }}</p></a>
         </a>
      </div>
      {% endfor %}
   </section>
   {% endif %}
</main>